* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: beautiful;
    src: url(Beautiful\ Dream.otf);
}

@font-face {
    font-family: forever;
    src: url(Forever\ Freedom\ Regular.ttf);
}

@font-face {
    font-family: miso-bold;
    src: url(miso-bold.otf);
}

@font-face {
    font-family: wasted;
    src: url(Wasted-Vindey.ttf);
}

.main-structure {
    background: url('https://m.media-amazon.com/images/I/81zPETGEelL.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: -1;

}

.main-structure::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(99, 99, 99, 0.3);
    z-index: 1;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

.nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 45px;
    height: 50vh;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease, width 0.3s ease, top 0.3s ease, gap 0.3s ease, background-color 0.3s ease;
    top: 25%;
    right: 1%;
    gap: 3%;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.nav_:first-child {
    padding-top: 15px;
}

.nav:hover {
    height: 70vh;
    width: 80px;
    top: 15%;
    gap: 7%;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.nav_:hover {
    filter: opacity(0.7);
}

.nav_ img {
    width: 25px;
    filter: invert(1);
}

.nav_ span {
    font-size: 12px;
    color: white;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.2s ease;
    margin-top: 10px;
}

.nav:hover .nav_ span {
    opacity: 1;
}

.logo {
    position: fixed;
    color: black;
    text-decoration: none;
    font-size: 150%;
    font-family: beautiful;
    padding: 1em 0 0 2em;
    z-index: 1000;
}

.section {
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
    
}

.top-thing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30vh;
}

.top-thing p:first-child {
    font-family: forever;
    font-size: 20vh;
    color: rgb(255, 255, 255);
    filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
}

.top-thing p:nth-child(2) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    color: rgb(255, 255, 255);
    filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
    margin-top: -18vh;
}

.spacing1 {
    width: 100%;
    height: 100vh;
}

.main {
    width: 85%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3,1fr);
    justify-self: center;
    grid-gap: 35px;
    border-radius: 8em;
}

.top-space-card {
    height: 5em;
    grid-column: span 3;
}

.img-coloumn-1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 50px;
}

.img-coloumn-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.img-coloumn-3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}

.dark-back-img {
    width: 20em;
    background-color: rgb(255, 248, 235);
    height: 30em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
}

.top-img{
    height: 150px;
    width: 150px;
    overflow: hidden;
    align-self: flex-end;
    rotate: 10deg;
    border-radius: 10px;
    filter: brightness(0.2);
    transition: transform 0.5s ease, rotate 0.5s ease, z-index 0.3s ease, filter 0.5s ease;
    opacity: 1;
    border: 1px solid black;
    place-items: center;
    display: flex;
    justify-content: center;
}

.mid-img{
    height: 100px;
    width: 100px;
    overflow: hidden;
    align-self: center;
    z-index: 1;
    border-radius: 10px;
    transform: scale(2.5);
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
    border: 0.5px solid black;
    display: flex;
    justify-content: center;
}


.bottom-img {
    height: 150px;
    width: 150px;
    overflow: hidden;
    rotate: -20deg;
    border-radius: 10px;
    filter: brightness(0.2);
    transition: transform 0.5s ease, rotate 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
    opacity: 1; 
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.dark-back-img:hover .top-img{
    transform: scale(1.2);
    rotate: 20deg;
    z-index: 2;
    filter: brightness(1) drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
    opacity: 1;
}

.dark-back-img:hover .bottom-img {
    transform: scale(1.2);
    rotate: -30deg;
    filter: brightness(1) drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    opacity: 1;
    z-index: 2;
}

.text {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 25px;
    font-family: wasted;
    margin-bottom: -50px;
    z-index: 1;
}

.footer-top-space {
    height: 30vh;
}

footer {
    height: 40vh;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    justify-content: center;
    justify-items: center
}

footer > p {
    color: white;
    font-family: beautiful;
    font-size: 50px;
}

footer div p {
    color: rgb(190, 190, 190);
    font-family: Arial, Helvetica, sans-serif;
}

.madeby {
    color: rgb(190, 190, 190);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
